.ant-menu.ant-menu-inline {
  border-inline-end: 0 !important;
}

.ant-notification-notice-message {
  font-weight: 600;
}

.ant-form-item {
  margin-bottom: 16px;
}

.ant-modal-confirm-btns {
  margin-top: 24px !important;
}

.ant-descriptions-item-label {
  font-size: 11px !important;
  font-weight: 500 !important;
  margin-top: 12px !important;
}

.ant-descriptions-header {
  margin-bottom: 0 !important;
  background: #eee !important;
  padding: 0 8px;
}

.ant-tag {
  font-weight: 500;
  font-size: 11px !important;
}

.ant-avatar-circle {
  width: 25px !important;
  height: 25px !important;
}

.ant-avatar-string {
  font-size: 11px !important;
  font-weight: 600 !important;
  transform: scale(1) translate(-50%, -50%) !important;
  top: 50% !important;
}

.customTbl th.ant-table-cell {
  background-color: #efefef !important;
}

.customTbl tbody tr:nth-child(odd) {
  background-color: #fafafa !important;
}

.customTbl tbody tr:nth-child(odd) td {
  background-color: #fafafa !important;
}

// ant-table-cell

.ant-form-vertical {
  &.ant-form-large {
    .ant-form-item-label {
      margin-bottom: 0 !important;
      padding-bottom: 4px !important;
      label {
        height: 10px !important;
        margin-bottom: -10px !important;
      }
    }
  }
}

.ant-form-item-explain-error {
  font-size: 10px;
  margin-top: 2px;
  font-weight: 500;
}
