.layout {
  background: url("/images/bg-adm.png") center center fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 240px 1fr;
}

.container {
  padding-left: 24px;
  padding-bottom: 24px;
}

.top {
  display: grid;
  column-gap: 16px;
  background: red;
  grid-template-columns: repeat(4, 1fr);
}
