.header {
  position: sticky;
  top: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  z-index: 1000;
  padding: 0;
  padding-left: 220px;
  width: 100%;
  display: flex;
  align-items: center;
  background: white;
}

.welcome {
  color: #777;
  font-size: 12px;
  span {
    letter-spacing: 0px;
    color: #333;
    font-size: 14px;
    font-weight: 600;
  }
}

.headerRight {
  padding-right: 24px;
}
