.header {
  position: sticky;
  top: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  z-index: 1000;
  padding: 0;
  padding-left: 220px;
  width: 100%;
  display: flex;
  align-items: center;

  background: white;
}
