@import "../../../_styles/zIndex.module.scss";

.sidebar {
  overflow: auto;
  height: 100vh;
  border-right: 1px solid #eee;
  background: white !important;
  position: fixed !important;
  z-index: $zIndexSidebar;
  left: 0;
  top: 0;
  bottom: 0;
}

.logo {
  display: block;
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin: 16px auto;
}
