.sidebar {
  overflow: auto;
  height: 100vh;
  border-right: 1px solid #eee;
  background: white !important;
  position: fixed !important;
  z-index: 1001;
  left: 0;
  width: 200px;
  top: 0;
  bottom: 0;
}

.logo {
  display: block;
  margin: 24px auto 8px;
}
